variables:
    # Configure postgres service (https://hub.docker.com/_/postgres/)
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    APT_CACHE_DIR: "$CI_PROJECT_DIR/apt-cache"
    IMAGE_TAG: 'egrep -o "[0-9]\.([0-9]|[0-9][0-9])\.[0-9]" faraday_client/__init__.py'

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: always

cache:
  paths:
    - "$CI_PROJECT_DIR/.cache/pip"
    - "$CI_PROJECT_DIR/apt-cache"

before_script:
    - mkdir -pv $APT_CACHE_DIR

stages:
    - build_faraday
    - build_installers


generate_build_file:
    image: registry.gitlab.com/faradaysec/integrationrepo
    stage: build_faraday
    script:
        - "/bin/mkdir faraday_copy"
        - "/usr/bin/rsync -aq --exclude 'faraday_copy' --exclude '.cache' . faraday_copy"
        - "/bin/tar -zcf faraday.tar.gz faraday_copy"
    artifacts:
        name: 'faraday'
        paths:
            - "faraday.tar.gz"
        expire_in: 3 days
    rules:
        - if: '$CI_COMMIT_REF_NAME =~ /^.*\/(master)$/'
          when: on_success
        - if: '$CI_COMMIT_TAG || $BUILD_TEST || $FULL_TEST || $DAILY_TEST'
          when: on_success
        - when: never


build_nix_python3:
  image: nixorg/nix
  stage: build_faraday
  script:
    - mkdir -p ~/faraday
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/faradaysec/faraday-plugins.git ~/faraday/plugins
    - cd ~/faraday/plugins
    - git checkout develop
    - cd -
    - nix-build
    - mkdir -p /opt/faraday
    - cp -r $(readlink result)/* /opt/faraday
    - tar czf /py3.tar.gz /opt/faraday $(nix-store --query --requisites $(readlink result))
    - mv /py3.tar.gz $CI_PROJECT_DIR
  artifacts:
    name: python3
    paths:
      - py3.tar.gz
    expire_in: 15 days # in the future we don't need to expire this.
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^.*\/(master)$/'
      when: on_success
    - if: '$CI_COMMIT_TAG || $BUILD_TEST || $FULL_TEST || $DAILY_TEST'
      when: on_success
    - when: never


generate_rpm:
    stage: build_installers
    image: centos:7
    before_script:
        - yum -y upgrade
        - yum -y install which git
        - yum -y install epel-release
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/faradaysec/faraday-linux-installers-builder.git
        - mv py3.tar.gz /
        - cd /; tar xf py3.tar.gz; cd -
        - yum -y install ruby ruby-devel rubygems gobject-introspection-devel curl zsh mailcap libffi-devel openssl-devel openldap-devel libxslt-devel libxml2-devel libxslt-devel freetype-devel libjpeg-devel gtk+-devel gtk3-devel gtk2-devel postgresql-devel
        - yum groups -y install "Development Tools"
        - yum -y install centos-release-scl
        - yum -y install rh-python36
        - source /opt/rh/rh-python36/enable
        - pip install virtualenv
        - pip install virtualenv-tools3
    script:
        - mkdir build_installer
        - cp -a faraday.tar.gz build_installer/.
        - cd build_installer
        - /bin/tar zxf faraday.tar.gz
        - cd faraday_copy
        - cp -r /nix .
        - mv ../../faraday-linux-installers-builder .
        - cd faraday-linux-installers-builder
        - git clone https://github.com/jordansissel/fpm.git
        - cd fpm
        - git checkout d7b466787d17581bc723e474ecf6e18f48226031
        - git apply ../fpm-patchs/fpm.virtualenv.patch
        - make gem
        - gem install --no-ri --no-rdoc fpm-1.11.0.gem
        - cd ../../
        - sh faraday-linux-installers-builder/build.sh $(eval $IMAGE_TAG) client rpm
        - mv faraday-client_amd64.rpm ../../faraday-client_amd64.rpm
    dependencies:
        - generate_build_file
        - build_nix_python3
    artifacts:
        name: 'faraday_$CI_COMMIT_REF_NAME.rpm'
        paths:
            - "faraday-client_amd64.rpm"
        expire_in: 15 days
    rules:
        - if: '$CI_COMMIT_REF_NAME =~ /^.*\/(master)$/'
          when: on_success
        - if: '$CI_COMMIT_TAG || $BUILD_TEST || $FULL_TEST || $DAILY_TEST'
          when: on_success
        - when: never


generate_deb:
    image: registry.gitlab.com/faradaysec/integrationrepo
    stage: build_installers
    before_script:
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/faradaysec/faraday-linux-installers-builder.git
        - mv py3.tar.gz /
        - cd /; tar xf py3.tar.gz; cd -

    script:
        - mkdir build_installer
        - cp -a faraday.tar.gz build_installer/.
        - cd build_installer
        - /bin/tar zxf faraday.tar.gz
        - cd faraday_copy
        - cp -r /nix .
        - mv ../../faraday-linux-installers-builder .
        - cd faraday-linux-installers-builder
        - git clone https://github.com/jordansissel/fpm.git
        - cd fpm
        - git checkout d7b466787d17581bc723e474ecf6e18f48226031
        - git apply ../fpm-patchs/fpm.virtualenv.patch
        - make gem
        - gem install --no-ri --no-rdoc fpm-1.11.0.gem
        - cd ../../
        - sh faraday-linux-installers-builder/build.sh $(eval $IMAGE_TAG) client deb
        - mv faraday-client_amd64.deb ../../faraday-client_amd64.deb
    dependencies:
      - generate_build_file
      - build_nix_python3
    artifacts:
        name: 'faraday_$CI_COMMIT_REF_NAME.deb'
        paths:
            - "faraday-client_amd64.deb"
        expire_in: 15 days
    rules:
        - if: '$CI_COMMIT_REF_NAME =~ /^.*\/(master)$/'
          when: on_success
        - if: '$CI_COMMIT_TAG || $BUILD_TEST || $FULL_TEST || $DAILY_TEST'
          when: on_success
        - when: never

macos_pkg:
    tags:
        - macos
    stage: build_installers
    allow_failure: true
    before_script:
      - echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.bash_profile
      - export LDFLAGS="-L/usr/local/opt/openssl/lib"
      - export CPPFLAGS="-I/usr/local/opt/openssl/include"
      - export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig"
    script:
        - pip3 install virtualenv
        - pip3 install virtualenv-tools3
        - export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/usr/local/opt/libffi/lib/pkgconfig"
        - mkdir build_installer
        - cp -a faraday.tar.gz build_installer/.
        - cd build_installer
        - /usr/bin/tar zxf faraday.tar.gz
        - cd faraday_copy
        - git clone git@gitlab.com:faradaysec/faraday-linux-installers-builder.git
        - cd faraday-linux-installers-builder
        - git clone https://github.com/jordansissel/fpm.git
        - cd fpm
        - git checkout d7b466787d17581bc723e474ecf6e18f48226031
        - git apply ../fpm-patchs/fpm.osx.patch
        - make gem
        - export GEM_HOME="$HOME/.gem"
        - export GEM_PATH=$HOME/.gem
        - export PATH=$PATH:$HOME/.gem/bin
        - gem install fpm-1.11.0.gem
        - cd ../../
        - sh faraday-linux-installers-builder/build_osx.sh $(eval $IMAGE_TAG) client osxpkg
        - mv faraday-client_amd64.pkg ../../Faraday-client.pkg
    artifacts:
        name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME-binaries"
        paths:
            - Faraday-client.pkg
        expire_in: 1 week
    rules:
        - if: '$CI_COMMIT_REF_NAME =~ /^.*\/(master)$/'
          when: on_success
        - if: '$CI_COMMIT_TAG || $BUILD_TEST || $FULL_TEST || $DAILY_TEST'
          when: on_success
        - when: never
    dependencies:
        - generate_build_file
