websocket-client>=0.54.0
colorama>=0.3.9
deprecation>=1.0.1
python-dateutil>=2.6.1
flask>=1.0
requests>=2.18.4
tornado>=5.0.0
tqdm>=4.15.0
PyGObject>=3.32.1
html2text>=2019.8.11
future>=0.18.2
XlsxWriter>=1.2.8
faraday-plugins>=1.2.0,<2.0.0
